NEXT_PUBLIC_CONTENT_API_URL=
NEXT_PUBLIC_CHATBOT_API_URL=

NEXT_PUBLIC_ANNOUNCEMENT_ENABLED=true

NEXT_PUBLIC_SHOW_JOURNEY=true
NEXT_PUBLIC_SHOW_CORE=true
NEXT_PUBLIC_SHOW_PRODUCTS=true
NEXT_PUBLIC_SHOW_STORIES=true
NEXT_PUBLIC_SHOW_EVENTS=true
NEXT_PUBLIC_SHOW_AI_CHAT=true
